*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/Resources/Img/plufow-le-studio-EoLAWkskAIc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.login-container {
    background: transparent;
    color: #fff;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 5px;
}
.login-container input[type="button"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-container input[type="button"]:hover {
    background-color: #0056b3;
}
.login-container .register-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}
.login-container .register-link:hover {
    text-decoration: underline;
}

.login-container.login-container input{
    width: 100%;
    height: 100%;
    
    font-size: 16px;
    color: #fff;
}
.login-container input::placeholder{
    color: rgb(223, 240, 255);
}